.introduction{
  width: 40%;
  margin: auto;
  margin-top: 80px;
}
.introduction-title{
  font-size: 56px;
  font-weight: var(w_500);
  margin-bottom: 50px;
}
.introduction-content{
  font-size: 22px;
}

