.menu {
  padding: 5px 10px;
  border-right: 1px solid var(--border-color-primary);

}

.menu-item {
  color:var(--text-color-primary);
  display: flex;
  align-items: center;
  padding-left: 2rem;
  cursor: pointer;
}

.menu-item:hover{
  background-color: var(--bg-color-primary);
  border-radius: 8px;
}