#root {
  width: 100%;
  height: 100vh;
}



.dark {
  background-color: var(--dark_background);
  color: var(--dark_color);
}

.light {
  background-color: var(--light_background);
  color: var(--light_color);
}

#app {
  width: 100%;
  height: 100%;
  transition: all .6s ease-in-out;
}

#header {
  height: 50px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  box-shadow:  var(--box-header-shadow);
  box-sizing: border-box;
}

#site-logo{
  flex: 1;
  padding-left: 100px;
}

#site-nav {
  flex:1; 
  padding-right: 100px;
}

#site-nav > ul {
  float: right;
}

#site-nav > ul > li{
  display: inline-block;
  margin: 0 5px;
  opacity: .6;
  cursor: pointer;
  font-weight: var(w_500);
}

#site-nav > ul > li:hover{
  opacity: 1;
}

#view {
  height: 100%;
}