:root{
  --light_color: #000;
  --light_background: rgb(219, 246, 244);
  
  --dark_color:rgba(247, 243, 243, 0.975);
  --dark_background: #000;

  --min_height: 100vh;

  --w_500: 500;

  --box-header-shadow:inset 0 -1px 0 #e7e7e7;

  --bg-color-primary: #e7e7e7;

  --text-color-primary: rgba(0,0,0,0.6);

  --border-color-primary: #e7e7e7;
}