.layout {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
canvas {
  position: absolute;
}
.admin {
  display: flex;
  flex-direction: row;
}

.content {
  width: 100%;
}

.dark {
  background-color: var(--dark_background);
  color: var(--dark_color);
}

.light {
  background-color: var(--light_background);
  color: var(--light_color);
}

.header {
  height: 50px;
  user-select: none;
}

.site-logo{
  float: left;
  height: 50px;
  line-height: 50px;
  margin-left: 100px;
}

.site-nav {
  float: right;
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  padding-right: 100px;
}

.site-nav > div {
  height: 100%;
  cursor: pointer;
  line-height: 50px;
  padding: 0 15px;
  z-index: 1;
  font-weight: var(w_500);
  opacity: .6;
}

.site-nav > div:hover{
  opacity: 1;
}

.dark .site-nav > div {
  color: var(--dark_color);
}

.light .site-nav > div {
  color: var(--light_color);
}